Title: <%= @job_post.title %><br>
Minimun Requirements: <%= @job_post.requirements %><br>
Salary Rage: <%= @job_post.salary_range %><br>
Recruiter: <%= @job_post.recruiter_id %><br>
Contact: 
Client: <%= @job_post.client_id %><br>

<a href="/job_posts/<%= @job_post.id %>/edit">Edit Job Post</a>