
<h4> Name: </h4>
    <%= @recruiter.name %></p> <br>
<h4> Contact:</h4>
    <%= @recruiter.email %></p> <br>

<% if @recruiter.job_posts.empty? %>
<%= flash[:error]= "This Recruiter doesnt have any open Job Posts at the moment."%>

<% else %>   
<h2><%= @recruiter.name %>'s Open Job Posts:</h2></br>
        <% @job_posts.each do |jp| %>
            <li><a href="/job_posts/<%= jp.id %>"><%= jp.title %></a> </li>
<% end %>  


    
<% end %> 

